{% extends 'base.html.twig' %}

{% block title %}Company{% endblock %}

{% block body %}
    <h1>{{ company.name }}</h1>
    <img src="{{ asset(company.imagePath) }}" height="250" alt={{ company.name }}>
    <h3>{{ company.createdAt.format('d/m/Y') }}</h3>
    <p>{{ company.description }}</p>
{% endblock %}
