{# <header> #}
{# {% for categoryVar in categoriesVar.getCategoriesVar %} #}
{# <li> #}
{# <a href="#">{{ categorieVar }}</a> #}
{# </li> #}
{# {% endfor %} #}
{# </header> #}

<header>
    <a href="{{ path('all_companies') }}">
        <h1>Company directory</h1>
    </a>
    <nav>
        <ul>
            {% for category in categoriesVar.getCategoriesVar %}
                <li>
                    <a href="{{ path('single_category', {name: category}) }}">{{ category }}</a>
                </li>
            {% endfor %}
            <li>
                <a href="{{ path('company_index') }}">CRUD company</a>
            </li>
            <li>
                <a href="{{ path('category_index') }}">CRUD category</a>
            </li>
        </ul>
    </nav>

    <form action="{{ path('all_companies') }}" method="get">
        <div>
            <label for="searchTerm">Search</label>
            <input type="text" name="searchTerm">
        </div>
        <input type="submit" value="search">
    </form>

</header>